amici_env/
amici_models/
data/
data_old/
.snakemake/
model/
src/dso
src/pysindy
error_file.err
output_file.out
results/
args.dat
mystery.dat
results_gen_sym.dat
results.dat
qaz.dat
wandb/
.DS_Store
simulation_venv/
**/__pycache__/